body {
    background: #f6f6fa;
    padding: 40px 40px 40px 40px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
}

.main-content {
    padding: 88px 80px 40px 80px;
    box-sizing: border-box;
}

.sidebar {
    background: rgba(11, 107, 114, 0.329);
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 380px;
}

.img__container {
    position: relative;
    margin: auto;
    width: 350px;
    height: 350px;   
    border-radius: 50%;
}

.img__container::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    right: -12px;
    bottom: -8px;
    border: 2px solid gold;
    border-radius: 50%;
    transition: all .5s;
    animation: clippath 5s infinite linear;
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.sidebar__content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.contacts__title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
    
}

.contacts__type {
    color: #161d2a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.contacts__link {
    color: #076388;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: none;   
}

.contacts__item {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts__list {
    list-style-type: none;
}

.contacts__container {
    margin-bottom: 40px;
}

.icon {
    width: 15px;
    height: 15px;
    fill: currentColor;
    margin-right: 5px;
}